.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100vh;
    padding: 0 1rem;

    @media only screen and (max-width: 750px) {
        height: auto;
    }

    @media only screen and (max-height: 650px) {
        height: auto;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.link {
    display: block;
    color: #BEC0CB;
    text-decoration: none;
    font-size: 2vw;
    margin: 30px 0;
}

.link:hover {
    color: #FFA91D;
}

.main {
    display: block;
}

.fa_bars {
    color: #BEC0CB;
    align-self: start;
    margin-top: 15px;
    @media only screen and (min-width: 600px) {
        display: none;
    }
}
